{% extends 'base.html.twig' %}

{% block title %}Add a new march{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="newMarch_title">Add new march</h1>
    <button class="btn btn-lg btn-danger newMarch_back_button"><a class="newMarch_back" href="{{path('profile')}}">Back</a></button>  

    <div>
    {{form_start(marchForm)}}
        <div class="row align-items-center custom-line">
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.id_commander_1)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.id_commander_2)}}
            </div>
        </div>

        <div class="row align-items-center custom-line">
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.helm)}} 
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.crit_helm)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.iconic_helm)}}
            </div>
        </div>

        <div class="row align-items-center custom-line">
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.chest)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.crit_chest)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.iconic_chest)}}
            </div>
        </div>

        <div class="row align-items-center custom-line">
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.weapon)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.crit_weapon)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.iconic_weapon)}}
            </div>
        </div>

        <div class="row align-items-center custom-line">
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.glove)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.crit_glove)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.iconic_glove)}}
            </div>
        </div>

        <div class="row align-items-center custom-line">
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.leg)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.crit_leg)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.iconic_leg)}}
            </div>
        </div>

        <div class="row align-items-center custom-line">
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.boot)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.crit_boot)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.iconic_boot)}}
            </div>
        </div>

        <div class="row align-items-center custom-line">
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.accessory_1)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.crit_accessory_1)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.iconic_accessory_1)}}
            </div>
        </div>

        <div class="row align-items-center custom-line">
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.accessory_2)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.crit_accessory_2)}}
            </div>
            <div class="col-lg newMarch_field">
                {{form_row(marchForm.iconic_accessory_2)}}
            </div>
        </div>
    <button class="btn btn-lg btn-danger newMarch_save" type="submit">Save</button>
    {{form_end(marchForm)}}
</div>
{% endblock %}
